.header {
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  height: 12.5rem;
}

.header img {
  margin-top: 0.625rem;
  height: 2.25rem;
  padding-right: 0.75rem;
} 

.content {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.header span {
  font-size: 3rem;
  font-weight: 900;
}

.styleTo {
  color: var(--blue-300);
}

.styleDo {
color: var(--purple-500);
}